<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Control</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <div class="button-container">
        <button id="startCameraBtn">Start Camera Stream</button>
        <button id="startWindowBtn">Start Window Stream</button>
        <button id="stopBtn">Stop Stream</button>
        <button id="transcribeBtn">Transcribe</button>
        <button id="recordBtn">Record</button>
    </div>
    <div class="content-container">
        <div class="container">
            <h1>Stream Control</h1>
            <div id="status"></div>
            <video id="streamVideo" autoplay playsinline></video>
            <audio id="audioPlayer"></audio>
            <div id="transcriptionHistory"></div>
        </div>
    </div>
    <script type="module" src="./static/js/main.js"></script>
</body>

</html>